/**************** Side Nav ***************/
.sidenav{
  height: 100%;
  width:0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 35px;
  opacity: .97;
}

.sidenav a{
  padding: 8px 8px 8px 25px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;

}
.sidenav a:hover{
  color: #f1f1f1;
}

.sidenav .closebtn{
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 30px;
  margin-left: 50px;
  color: #818181;
}
.sidenav .closebtn:hover{
  color: #f1f1f1;
}

.sidenav .profile img {
  margin: 10px;
  display: block;
  width: 180px;
  border: 5px solid #2c2f3f;
}

.sidenav .profile h1 {
  font-size: 28px;
  margin: 0px 0px 0px 17px;
  padding: 0;
  font-weight: 600;
  -ms-text-align-last: center;
}

.sidenav .profile h1 a, .sidenav .profile h1 a:hover {
  color: #f1f1f1;
  text-decoration: none;
}

.sidenav .profile .links a {
  font-size: 22px;
  display: inline-block;
  background: #2d2f37;
  color: #f1f1f1;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 40px;
  height: 40px;
  transition: 0.5s;
}

.sidenav .profile .links a:hover {
  background: #f1f1f1;
  color: #000000;
  text-decoration: none;
}
.pf{
  padding-bottom: 20px;
  border-bottom: 3px solid #2d2f37;
}
.pf:hover{
  background-color: black;
  opacity: 1;
  transition: 0.5s;
}
@media screen and (max-height:450px) {
  .sidenav{ padding-top: 15px;}
  .sidenav a{font-size: 18px;}
}

/************* Name ****************/
.name{
  margin: 10px;
  text-align: left;
  text-shadow: 1px 1px black;

}
.name h1{
  margin-left: 10px;
  font-size: 30px;
  color: white;
}


/***************** Dash *******************/

.container-fluid{
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #FFF;
}
/* ============= Animation background ========= */
.background {
  background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
  background-size: 400% 400%;
  animation: Gradient 10s ease infinite;
  position: relative;
  height: 300vh;
  width: 100%;
  overflow: hidden;
  padding:0;
  margin:0px;
}
.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px #D7D4E4;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 12s ease-in forwards infinite;
}
.cube:nth-child(2n) {
  border-color: #FFF ;
}
.cube:nth-child(2) {
  animation-delay: 2s;
  left: 25vw;
  top: 40vh;
}
.cube:nth-child(3) {
  animation-delay: 4s;
  left: 75vw;
  top: 50vh;
}
.cube:nth-child(4) {
  animation-delay: 6s;
  left: 90vw;
  top: 10vh;
}
.cube:nth-child(5) {
  animation-delay: 8s;
  left: 10vw;
  top: 85vh;
}
.cube:nth-child(6) {
  animation-delay: 10s;
  left: 50vw;
  top: 10vh;
}
.cube:nth-child(7) {
  animation-delay: 12s;
  left: 15vw;
  top: 135vh;
}
.cube:nth-child(8) {
  animation-delay: 14s;
  left: 86vw;
  top: 165vh;
}
.cube:nth-child(9) {
  animation-delay: 16s;
  left: 90vw;
  top: 115vh;
}
.cube:nth-child(10) {
  animation-delay: 18s;
  left: 50vw;
  top: 185vh;
}
.cube:nth-child(11) {
  animation-delay: 20s;
  left: 50vw;
  top: 250vh;
}
.cube:nth-child(12) {
  animation-delay: 22s;
  left: 90vw;
  top: 220vh;
}
.cube:nth-child(13) {
  animation-delay: 24s;
  left: 35vw;
  top: 278vh;
}
.cube:nth-child(14) {
  animation-delay: 26s;
  left: 50vw;
  top: 136vh;
}
.cube:nth-child(15) {
  animation-delay: 28s;
  left: 30vw;
  top: 250vh;
}
/* ================= Header ============ */
header{
  position: absolute;
  top:0%;
  left: 0%;
  width:100%;
  margin: 0;
  padding: 0;
}
/* Logo */
.logo{
  position: absolute;
  top: 15px;
  width: 50px;
  height: 45px;
  background: #EFEEF5;
  margin: 0px 0px 0px 80%;
  float: right;
  transform: rotate(-30deg);
}
.logo span{
  color: #591BC5;
  font-size: 2em;
  line-height: 1.4;
  padding: 5px;
  font-weight: bold;
}
/* Header content & title & button*/
.header-content{
  margin-top:25vh;
  text-align: center;
  color:  #EFEEF5;
}
.header-content h1{
  color: #89e2f7;
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: 1px;
}
.header-content p {
  font-size: 20px;
  line-height: 1.5;
  margin: 20px auto;
}
/* Animate Background*/
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

/******************* about*************/
.about{
  margin-top: 10vh;

}
.about .details{
  margin: 10px;
}
.about h1{
  color: #89e2f7;
  font-size: 36px;
}
[aos="fade-down"] {
  opacity: 0;
  transition-property: opacity;
}
[aos="fade-up"] {
  opacity: 0;
  transition-property: opacity;
}

.about .line{
  position:relative;
  border-bottom: 1px solid #89e2f7;
  margin-left: 0px;
  margin-bottom: 20px;
}
.about p{
  color: #f1f1f1;
}